.animalSection > .title {
  font-size: 6rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animalSection .images {
  opacity: 0.2;
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animalSection .images {
  opacity: 0.2;
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animalSection .images::-webkit-scrollbar {
  width: 18px;
}

.animalSection .images::-webkit-scrollbar-thumb {
  background-color: #fb5;
  border-left: 4px solid #faf6ed;
}

.animalSection .images::-webkit-scrollbar-track {
  background-color: #faf6ed;
}

.animalSection .images .image {
  height: 370px;
}

.animalSection > .descriptions {
  grid-column: 3;
}

.animalSection > .descriptions section {
  margin-bottom: 3rem;
}
.animalSection > .descriptions .text {
  line-height: 1.4;
  margin-bottom: 1rem;
}

.animalSection > .descriptions .title {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #e54;
}

.animalSection > .descriptions .title::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}
