.animalSection > .title {
  font-size: 6rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animalSection > .images {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animalSection > .images::-webkit-scrollbar {
  width: 18px;
}

.animalSection > .images::-webkit-scrollbar-thumb {
  background-color: #fb5;
  border-left: 4px solid #faf6ed;
}

.animalSection > .images::-webkit-scrollbar-track {
  background-color: #faf6ed;
}

.animalSection > .images .image {
  height: 24rem;
}

.animalSection > .descriptions {
  grid-column: 3;
  cursor: pointer;
}

.animalSection > .descriptions > .description {
  margin-bottom: 3rem;
  display: none;
}

.animalSection > .descriptions > .description.active {
  display: block;
  animation: show 0.5s forwards;
}

.animalSection > .descriptions > .description > .text {
  line-height: 1.4;
  margin-bottom: 1rem;
}

.animalSection > .descriptions > .description > .title {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #e54;
}

.animalSection > .descriptions > .description > .title::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

@media (max-width: 700px) {
  .animalSection > .images {
    grid-column: 1;
  }

  .animalSection > .images .image {
    height: 8rem;
  }

  .animalSection > .title {
    font-size: 3rem;
  }
  .animalSection > .descriptions > .description {
    padding-right: 20px;
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
