* {
  font-family: "Roboto", serif;
  text-decoration: none;
}
body {
  background: #faf6ed;
  color: #222;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.gridLayout {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 100px 300px 1fr;
  grid-gap: 10px;
}
