.tooltip {
  position: absolute;
  z-index: 5px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0, 0, 0, 0.6);
  padding: 0.8rem;
  color: white;
  font-weight: 800;
  font-size: 0.875rem;
  max-width: 150px;
  border-radius: 2px;
}
