* {
  font-family: 'Roboto', serif;
  text-decoration: none;
}

body {
  background: #faf6ed;
  color: #222;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.gridLayout {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 100px 300px 1fr;
  grid-gap: 20px;
}

[data-animation='scroll'] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}

[data-animation='scroll'].active {
  opacity: 1;
  transform: translate3d(0px, 0, 0);
  transition: 0.3s;
}
@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }

  .gridLayout {
    grid-column: 1;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
}
